* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(41, 41, 41);
  font-family: sans-serif;
}

.container {
  width: 80vw;
  margin: 0 auto;
}
.title {
  font-size: 35px;
  margin: 50px 0;
  color: #e47653;
  text-align: left;
}

img {
  object-fit: cover;
  border-radius: 10px;
  width: 372px;
  height: 275px;
}

.container li {
  width: 408px;
  height: 383px;
}

.list-container {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

/* ----------------------UNDER IMAGE  START--------------------- */
.recipe_name {
  margin: 8px 0 13px 0; /*TRBL */
  font-size: 25px;
}

.rating svg {
  stroke: none;
  fill: #ffd335;
  width: 20px;
  height: 19px;
}

.flex-name-btns svg {
  width: 28px;
  height: 28px;
  fill: #e47653;
  stroke: none;
}

.flex-name-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ----------------------UNDER IMAGE END--------------------- */

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

.list_recipe {
  padding: 20px;
  border-radius: 7px;
  box-shadow: 10px 8px 20px 2px rgba(156, 156, 156, 0.25),
    -10px -8px 20px 2px rgba(156, 156, 156, 0.25);
}

.list_recipe:hover {
  box-shadow: 10px 8px 20px 2px rgba(228, 118, 83, 0.25),
    -10px -8px 20px 2px rgba(228, 118, 83, 0.25);
  cursor: pointer;
  font-weight: bold;
}
